:root {
    /* button color */
    --button-equal: rgb(244, 250, 255);
    --button-remove: rgb(255, 245, 245);
    --button-number: white;
    --button-operator: rgb(255, 255, 245);
    --button-special: rgb(245, 255, 245);

    /* button color hover */
    --button-equal-hover: rgb(220, 245, 255);
    --button-remove-hover: rgb(255, 226, 226);
    --button-number-hover: rgb(241, 241, 241);
    --button-operator-hover: rgb(255, 255, 211);
    --button-special-hover: rgb(231, 255, 231);
    /* button color active */
    --button-equal-active: rgb(112, 215, 255);
    --button-remove-active: rgb(255, 143, 143);
    --button-number-active: rgb(222, 218, 255);
    --button-operator-active: rgb(253, 253, 123);
    --button-special-active: rgb(166, 255, 166);
    /* border color */
    --border-color: rgb(199, 199, 199);
    --background-color-primary: rgb(243, 241, 241);
    /* text color */
    --text-color: rgb(122, 122, 122);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.calc-container {
    width: 470px;
    padding: 1.5rem 1.5rem 1rem;
    border: 0px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
}

header h1 {
    font-size: 1.2rem;
    color: var(--text-color);
    padding-left: 5px;
    margin-bottom: 5px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    text-align: right;
    background-color: var(--background-color-primary);
    margin-bottom: 1rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 1rem 1rem 0 0;
    color: rgb(78, 78, 78);
    padding: 10px;
}
.top-screen {
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 100;
}
.btm-screen {
    height: 3.5rem;
    font-size: 3rem;
    font-weight: 100;

}
.calc-button-container {
    width: 100%;
    aspect-ratio: 4/5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5rem;
}
.calc-button {
    font-size: 1.5rem;
    color: rgb(122, 122, 122);
    border: 1px solid var(--border-color);
    border-radius: 0;
    transition:transform 100ms;
}
.calc-button:hover{
    transform: translateY(-2px);
}
.calc-button:nth-child(17) {
    border-bottom-left-radius: 1rem;
}
.calc-button:nth-child(20) {
    border-bottom-right-radius: 1rem;
}
.number {
    background-color: var(--button-number);
}
.number:hover {
    background-color: var(--button-number-hover);
}
.number.active {
    background-color: var(--button-number-active);
}
.equal {
    background-color: var(--button-equal);
    font-size: 1.8rem;
}
.equal:hover {
    background-color: var(--button-equal-hover);
}
.equal.active{
    background-color: var(--button-equal-active);
}
.operator {
    background-color: var(--button-operator);
    font-size: 1.8rem;
}
.operator:hover {
    background-color: var(--button-operator-hover);
}
.operator.active{
    background-color: var(--button-operator-active);
}
.remove {
    background-color: var(--button-remove);
}
.remove:hover {
    background-color: var(--button-remove-hover);
}
.remove.active{
    background-color: var(--button-remove-active);
}
.positive-negative {
    background-color: var(--button-special);
}
.positive-negative:hover {
    background-color: var(--button-special-hover);
}
.positive-negative.active{
    background-color: var(--button-special-active);
}


footer {
    margin-top: 10px;
    text-align: right;
    font-size: 1em;
    color: var(--text-color);
}
footer a {
    color: var(--text-color);
}
footer i {
    font-size: 1.2rem;
}
